<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Screen Pop</title>
</head>
<body>

    {{{body}}}

</body>
</html>
 <script data-main='js/boot' type='text/javascript' src='/js/libs/require.js'></script>